In [2]:
import os
import pandas as pd

In [3]:
'''Get CSV to pandas df'''

def get_csv_file_to_df():
    '''This function gets a csv file and makes a pandas df out of it
    OUTPUT: df of the csv file'''

    directory = r'C:\Planetary_Solver\input'

    if os.path.exists(directory):
        files = os.listdir(directory)
        if len(files) > 0:
            print(f'there are {len(files)} files: {files}')
            csv_file_path = os.path.join(directory, files[0])
            df = pd.read_csv(csv_file_path)

    return df

df = get_csv_file_to_df()

there are 1 files: ['data.csv']

In [4]:
df.head()

,intentType,obs_collection,provenance_name,instrument_name,project,filters,wavelength_region,target_name,target_classification,obs_id,...,proposal_type,sequence_number,s_region,jpegURL,dataURL,dataRights,mtFlag,srcDen,obsid,distance
0,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0015-4-1,...,NaN,15,POLYGON 227.56190400 55.89237000 210.04086200 ...,NaN,NaN,PUBLIC,False,NaN,27507612,0.0
1,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0016-4-2,...,NaN,16,POLYGON 229.37435900 60.01041400 214.07446900 ...,NaN,NaN,PUBLIC,False,NaN,27545565,0.0
2,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0022-3-2,...,NaN,22,POLYGON 197.21155800 53.68805800 213.62208000 ...,NaN,NaN,PUBLIC,False,NaN,27347175,0.0
3,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0023-3-1,...,NaN,23,POLYGON 201.94384300 49.35823100 209.00702800 ...,NaN,NaN,PUBLIC,False,NaN,27386995,0.0
4,science,TESS,SPOC,Photometer,TESS,TESS,Optical,TESS FFI,NaN,tess-s0049-3-2,...,NaN,49,POLYGON 202.748482 50.900067 217.401787 59.438...,NaN,NaN,PUBLIC,False,NaN,83168230,0.0